.city {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    transition: top .5s ease-out;
display: flex;
    background-color: #fff;

}

.city__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 30px;

}

.city_open {
    top: 0;
}

.city__choice {
    background-color: transparent;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 6px;
}