
@import "var.css";
@import "fonts.css";
@import "normalize.css";
@import "global.css";
@import "header.css";
@import "navigation.css";

@import "city.css";
@import "present.css";
@import 'modal-order.css';
@import "what-building.css";
@import "characteristics.css";

a {
    transition: color .2s, outline-color 0.3s;
}

button {
    transition: color .2s, background-color 0.3s;
}

a:hover {
    color: #C2B59B;
}

a:focus, a:active {
    color: #5E4C26;
    outline-color: #5E4C26;
}

button:hover {
    color: #C2B59B;
}

button:focus, button:active {
    color: #5E4C26;
    border-radius: 6px;
    box-shadow: 0 0 5px #5E4C26;
}


.alert {
    display: none;
    position: fixed;
    top: 5px;
    right: 5px;
    background-color: darksalmon;
    border: 1px solid black;
    border-radius: 10px;
    padding: 40px;
}

.visible {
    display: block;
}