.main__banner {
  position: relative;
  max-width: calc(1770px - var(--main-offers-w-shrink-main-banner));
  min-height: calc(480px - var(--main-offers-h-shrink-main-banner));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("__img-main/main-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
  grid-area: main-banner;
}

.main__header {
  position: absolute;
  top: 145px;
  left: 112px;
  font-size: var(--f-s-main-header);
  line-height: var(--l-h-main-header);
}

.main__text-block {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  min-height: 104px;
  margin-bottom: 40px;
}

.main__subtitle {
  font-size: var(--f-s-main__subtitle);
  line-height: var(--l-h-main__subtitle);
  text-align: center;
}

.main__counter {
  font-size: var(--f-s-main__counter);
  line-height: var(--l-h-main__counter);
  margin-right: 6px;
}

.main__text {
  font-size: var(--f-s-main__text);
  line-height: var(--l-h-main__text);
}

.main__text:not(:last-child) {
  margin-right: 30px;
}

.main__offers {
  padding-left: 0;
  padding-right: 0;
  display: grid;
  max-width: 1770px;
  gap: 60px;
  grid-template-columns: repeat(3, 245px) repeat(3, 245px);
  grid-template-rows: repeat(6, 228px);
  justify-content: space-evenly;
  grid-template-areas:
  "main-banner main-banner main-banner main-banner main-banner main-banner"
  "main-banner main-banner main-banner main-banner main-banner main-banner"
  "card--1 card--2 card--3 card--3 card--4 card--4"
  "card--5 card--5 card--3 card--3 card--6 card--6"
  "card--7 card--7 card--7 card--7 card--8 card--9"
  "card--7 card--7 card--7 card--7 card--8 card--10";
}

.main__offers-card {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  font-weight: 700;
  font-style:normal;
  font-size: 30px;
  line-height: 39px;
  padding-left: 20px;
}

.main__label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 88px;
  height: 88px;
  font-weight: 700;
  background-color: #FFBD13;
  border-radius: 50%;
  font-size: 30px;
  line-height: 39px;
}

.main__label--btm-rt {
  align-self: flex-end;
  justify-self: flex-end;
  margin-right: 20px;
  margin-bottom: 20px;
}

.main__label--cen-rt {
  margin-right: 20px;
}

.main__label--top-lft {
  align-self: flex-start;
  justify-self: flex-start;
}

.main__offers-card--1 {
  max-width: calc(245px - var(--main-offers-w-shrink-1x1-card));
  min-height: calc(228px - var(--main-offers-h-shrink-1x1-card));
  justify-content: flex-end;
  background: linear-gradient(181.33deg, rgba(0, 0, 0, 0) 9.23%, rgba(0, 0, 0, 0.2) 98.87%), url(__img-main/card-1.jpg) center 100% no-repeat border-box;
  background-size: cover;
  text-align: left;
  grid-area: card--1;
}

.main__offers-card--1 p{
  margin-bottom: 20px;
}

.main__offers-card--1 span {
  font-weight: 900;
}

.main__offers-card--2 {
  max-width: calc(245px - var(--main-offers-w-shrink-1x1-card));
  min-height: calc(228px - var(--main-offers-h-shrink-1x1-card));
  row-gap: 14px;
  padding-left: 14px;
  justify-content: flex-end;
  font-size: 30px;
  background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%,
  rgba(0, 0, 0, 0.2) 99.83%), url(__img-main/card-2.jpg) center 100% no-repeat border-box;
  background-size: cover;
  grid-area: card--2;
}

.main__offers-card--3 {
  max-width: calc(550px - var(--main-offers-w-shrink-2x1-card));
  min-height: calc(516px - var(--main-offers-h-shrink-2x2-card));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25.39%, rgba(0, 0, 0, 0.16) 100%), url(__img-main/card-3.jpg) center 100% no-repeat border-box;
  background-size: cover;
  grid-area: card--3;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-end;
  padding: 0 20px;
}

.main__card-3--highlight {
  display: flex;
  width: 100%;
  min-height: 167px;
  background: #38C0EB;
  border-radius: 20px;
  margin-bottom: 20px;
  text-align: left;
  padding: 20px 0 20px 26px;
}

.main__card-3--highlight p{
  min-height: 119px;
  align-self: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

.main__card-3--highlight p span {
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
}

.main__offers-card--4 {
  max-width: calc(550px - var(--main-offers-w-shrink-2x1-card));
  min-height: calc(228px - var(--main-offers-h-shrink-2x1-card));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 7.46%, rgba(0, 0, 0, 0.2) 100%), url(__img-main/card-4.jpg) center 100% no-repeat border-box;
  background-size: cover;
  grid-area: card--4;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
}

.main__card-4--highlight {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 30px;
}

.main__offers-card--5 {
  max-width: calc(550px - var(--main-offers-w-shrink-2x1-card));
  min-height: calc(228px - var(--main-offers-h-shrink-2x1-card));
  padding-left: 20px;
  padding-top: 20px;
  justify-content: space-between;
  background: linear-gradient(180.99deg, rgba(0, 0, 0, 0) 8.18%, rgba(0, 0, 0, 0.2) 99.15%), url(__img-main/card-5.jpg) center 100% no-repeat border-box;
  background-size: cover;
  grid-area: card--5;
}

.main__offers-card--6 {
  max-width: calc(550px - var(--main-offers-w-shrink-2x1-card));
  min-height: calc(228px - var(--main-offers-h-shrink-2x1-card));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 12.28%, rgba(0, 0, 0, 0.2) 100%), url(__img-main/card-6.jpg) center 100% no-repeat border-box;
  background-size: cover;
  grid-area: card--6;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 39px;
  padding-left: 20px;
}

.main__offers-card--6 p {
  font-size: 40px;
  line-height: 52px;
}

.main__offers-card--7 {
  max-width: calc(1160px - var(--main-offers-w-shrink-2x2-card));
  min-height: calc(516px - var(--main-offers-h-shrink-2x2-card));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25.39%, rgba(0, 0, 0, 0.16) 100%), url(__img-main/card-7.jpg) center 100% no-repeat border-box;
  background-size: cover;
  grid-area: card--7;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-end;
  padding-left: 50px;
}

.main__card-7--highlight {
  width: 643px;
  height: 108px;
  border-radius: 20px;
  background-color: #FFFFFF;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 50px;
}

.main__card-7--highlight p {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  color: #F91155;
}

.main__offers-card--8 {
  max-width: calc(245px - var(--main-offers-w-shrink-1x2-card));
  min-height: calc(516px - var(--main-offers-h-shrink-1x2-card));
  background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url(__img-main/card-8.jpg) center 100% no-repeat border-box;
  background-size: cover;
  grid-area: card--8;
  justify-content: flex-end;
}

.main__offers-card--9 {
  max-width: calc(245px - var(--main-offers-w-shrink-1x1-card));
  min-height: calc(228px - var(--main-offers-h-shrink-1x1-card));
  background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url(__img-main/card-9.jpg) center 100% no-repeat border-box;
  background-size: cover;
  grid-area: card--9;
  padding-left: 20px;
  padding-top: 20px;
  justify-content: space-between;
}
.main__offers-card--9 p{
  margin-bottom: 20px;
}

.main__offers-card--10 {
  max-width: calc(245px - var(--main-offers-w-shrink-1x1-card));
  min-height: calc(228px - var(--main-offers-h-shrink-1x1-card));
  background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url(__img-main/card-10.jpg) center 100% no-repeat border-box;
  background-size: cover;
  grid-area: card--10;
}


@media (max-width:1900px) {
  .main__offers {
    padding-left: 0;
    padding-right: 0;
    display: grid;
    max-width: 1520px;
    gap: 60px;
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;*/
    /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;*/
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-content: space-evenly;
    grid-template-areas:
  "main-banner main-banner main-banner main-banner main-banner main-banner"
  "main-banner main-banner main-banner main-banner main-banner main-banner"
  "card--1 card--2 card--3 card--3 card--4 card--4"
  "card--5 card--5 card--3 card--3 card--6 card--6"
  "card--7 card--7 card--7 card--7 card--8 card--9"
  "card--7 card--7 card--7 card--7 card--8 card--10";
  }
}

@media (max-width:1665px) {
  .header .container {
    margin-bottom: 0;
  }

  .main__offers {
    gap: 22px 30px;
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;*/
    /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;*/
    grid-template-columns: repeat(2, 217px) 206px 210px;
    grid-template-rows: repeat(2, 146px) repeat(6, 203px);
    justify-content: center;
    grid-template-areas:
  "main-banner main-banner main-banner main-banner"
  "main-banner main-banner main-banner main-banner"
  "card--1 card--2 card--3 card--3"
  "card--5 card--5 card--3 card--3"
  "card--4 card--4 card--8 card--9"
  "card--6 card--6 card--8 card--10"
  "card--7 card--7 card--7 card--7"
  "card--7 card--7 card--7 card--7";
  }
  .main__offers {
    max-width: 940px;
}
  .main__offers-card--1 p{
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 31px;
    font-weight: 500;
  }

  .main__offers-card--1 span {
    font-size: 31px;
    font-weight: 700;
  }
  .main__offers-card--2 {
    row-gap: 19px;
    font-size: 24px;
    line-height: 31px;
    font-weight: 500;
  }
  .main__offers-card--2 p{
  align-self: flex-start;
  }

  .main__card-3--highlight {
    min-height: 143px;
    background: #38C0EB;
    text-align: left;
    padding-left: 25px;
  }

  .main__card-3--highlight p{
    max-width: 326px;
    min-height: 87px;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
  }

  .main__card-3--highlight p span {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
  }
  .main__card-4--highlight  {
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 27px;
    align-self: flex-start;
  }
  .main__card-4--highlight p {
    max-width: 255px;
  }
  .main__offers-card--6 {
    justify-content: space-between;
    align-items: flex-end;
  }

  .main__offers-card--6 p {
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 36px;
  }

  .main__offers-card--6 .main__label--cen-rt{
    margin-bottom: 10px;
  }

  .main__label--btm-rt {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .main__label--cen-rt {
    margin-right: 10px;
  }
  .main__offers-card--9 {
    padding-left: 10px;
    padding-top: 10px;
  }
  .main__offers-card--9 p{
    font-size: 20px;
    line-height: 26px;
  }
  .main__card-7--highlight {
    width: 513px;
    height: 83px;
    margin-bottom: 50px;
  }

  .main__card-7--highlight p {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }

  .main__header {
    top: 80px;
    left: 80px;
  }

  .main__text-block {
    min-height: 83px;
    margin-bottom: 36px;
  }

  .main__banner, .main__offers-card, .main__card-7--highlight, .main__card-3--highlight  {
    border-radius: 16px;
  }
}

@media (max-width:1023px) {

  .main__label {
    width: 50px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
  }

  .main__offers {
    max-width: 700px;
  }

  .main__offers {
    gap: 22px 20px;
    grid-template-columns: repeat(2, 140px) 182px 178px;
    grid-template-rows: 130px 130px 130px 126px repeat(2, 126px) repeat(2, 146px) ;
    justify-content: center;
    grid-template-areas:
    "main-banner main-banner main-banner main-banner"
    "main-banner main-banner main-banner main-banner"
    "card--1 card--2 card--3 card--3"
    "card--5 card--5 card--3 card--3"
    "card--4 card--4 card--8 card--9"
    "card--6 card--6 card--8 card--10"
    "card--7 card--7 card--7 card--7"
    "card--7 card--7 card--7 card--7";
  }

  .main__offers-card--9 {
    max-width: calc(245px - var(--main-offers-w-shrink-1x2-halfed-card));
    min-height: calc(228px - var(--main-offers-h-shrink-1x2-halfed-card));
  }
  .main__offers-card--10 {
    max-width: calc(245px - var(--main-offers-w-shrink-1x2-halfed-card));
    min-height: calc(228px - var(--main-offers-h-shrink-1x2-halfed-card));
  }

  .main__offers-card--3{
    max-width: 380px;
    min-height: 278px;
  }

  .main__offers-card--3 {
    padding: 0 10px;
  }

  .main__offers-card--1 p{
    max-width: 117px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
  }

  .main__offers-card--1 span {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
  }
  .main__offers-card--2 {
    row-gap: 34px;
    font-size: 16px;
    line-height: 21px;
  }
  .main__offers-card--2 p{
    align-self: flex-start;
  }

  .main__card-3--highlight {
    background: #38C0EB;
    min-height: 61px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
    text-align: left;
    padding: 12px 0 20px 26px;
  }

  .main__card-3--highlight p {
    min-height: 29px;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
  }
  .main__card-3--highlight p span {
    font-size: 26px;
    line-height: 29px;
  }
  .main__card-4--highlight {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 18px;
  }
  .main__card-4--highlight p {
    max-width: 136px;
  }

  .main__offers-card--6 {
  background-size: contain;
  }

  .main__offers-card--6 p {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
  }
  .main__offers-card--8 {
    background-size: auto;
    background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url(__img-main/card-8.jpg) center top no-repeat border-box;
    background-size: cover;
  }

  .main__offers-card--9 {
    padding-left: 10px;
    background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url(__img-main/card-9.jpg) center top no-repeat border-box;
    background-size: cover;
  }
  .main__offers-card--9 p{
    font-size: 16px;
    line-height: 19px;
    padding-left: 5px;
    margin-bottom: 18px;
  }
  .main__offers-card--10 {
    background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url(__img-main/card-10.jpg) center 90% no-repeat border-box;
    background-size: cover;
  }

  .main__offers-card--7 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25.39%, rgba(0, 0, 0, 0.16) 100%), url(__img-main/card-7.jpg) center top no-repeat border-box;
  background-size: cover;
  }
  .main__card-7--highlight {
    margin-bottom: 26px;
  }
  .main__text-block {
    margin-bottom: 30px;
    min-height: 65px;
  }
  .main__header {
    top: 64px;
  }
  .main__counter {
    margin-right: 3px;
  }
  .main__text:not(:last-child) {
    margin-right: 10px;
  }

  .main__banner, .main__offers-card, .main__card-7--highlight, .main__card-3--highlight {
    border-radius: 12px;
  }
}

@media (max-width:690px) {

  .main__offers {
    gap: 20px;
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;*/
    /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;*/
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: repeat(2, 160px) 120px 118px 206px repeat(2, 118px) repeat(2, 87px) 123px;
    justify-content: center;
    grid-template-areas:
    "main-banner main-banner"
    "main-banner main-banner"
    "card--1 card--2"
    "card--5 card--5"
    "card--3 card--3"
    "card--4 card--4"
    "card--6 card--6"
    "card--8 card--9"
    "card--8 card--10"
    "card--7 card--7";
  }

  .main__offers {
    max-width: 280px;
  }

  .main__header {
    top: 50px;
    left: 29px;
  }

  .main__text-block {
    margin-bottom: 30px;
    min-height: 42px;
  }

  .main__counter {
    margin-right: 2px;
  }

  .main__text:not(:last-child) {
    margin-right: 8px;
  }

  .main__banner {
    background-position: center 60%;
    background-size: cover;
  }

  .main__offers-card {
    padding-left: 10px;
  }

  .main__offers-card--1 p {
    max-width: 65px;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    align-self: flex-start;
  }

  .main__offers-card--1 span {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
  }

  .main__offers-card--2 {
    row-gap: 31px;
    font-size: 12px;
    line-height: 16px;
  }

  .main__banner, .main__offers-card {
    border-radius: 8px;
  }

  .main__offers-card--6 .main__label--cen-rt {
    margin-bottom: 5px;
  }

  .main__label--btm-rt {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .main__label--cen-rt {
    margin-right: 5px;
  }

  .main__offers-card--5 {
    padding-left: 5px;
    padding-top: 5px;
  }

  .main__offers-card--3 {
    max-width: 280px;
    min-height: 206px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25.39%, rgba(0, 0, 0, 0.16) 100%), url(__img-main/card-3.jpg) center center no-repeat border-box;
    background-size: cover;
  }

  .main__card-3--highlight {
    min-height: 36px;
    border-radius: 8px;
    padding: 7px 0 11px 25px;
    line-height: 13px;
  }

  .main__card-3--highlight p {
    min-height: 18px;
    text-align: center;
    font-size: 12px;
    line-height: 13px;
  }

  .main__card-3--highlight p span {
    font-size: 16px;
    line-height: 18px;
  }

  .main__card-4--highlight {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 16px;
  }

  .main__card-4--highlight p {
    max-width: 181px;
  }

  .main__offers-card--6 p {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 16px;
  }

  .main__offers-card--9 {
    padding-left: 5px;
    background: linear-gradient(179.81deg, rgba(7, 7, 7, 0) 30.77%, rgba(0, 0, 0, 0.2) 99.83%), url(__img-main/card-9.jpg) center top no-repeat border-box;
    background-size: cover;
    padding-top: 5px;
  }

  .main__offers-card--9 p {
    font-size: 12px;
    line-height: 14px;
    padding-left: 4px;
    margin-bottom: 11px;
    align-self: flex-start;
    text-align: left;
  }

  .main__card-7--highlight {
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 6px;
  }

  .main__card-7--highlight p {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
  }
}



