.container  {
  margin: 0 auto 45px auto;
}

@media (max-width:1665px) {
  .container  {
    margin: 0 auto 30px auto;
  }
  .main .container {
    margin-bottom: 45px;
  }
}

@media (max-width:1023px) {
  .container  {
    margin: 0 auto 25px auto;
  }
  .main .container {
    margin-bottom: 35px;
  }
}

@media (max-width:690px)  {
  .container  {
    margin: 0 auto 21px auto;
  }
  .main .container {
    margin-bottom: 23px;
  }
}

