@import url('./var.css');
@import url('./normalize.css');
@import	url('./global-style.css');
@import url('./container.css');
@import url('./header.css');
@import url('./footer.css');

.product__main-section {
	padding-top: 30px;
	padding-bottom: 50px;
}


.product__main-section {
	display: flex;
	flex-flow: row wrap;
	max-width: 1533px;
	margin: auto;
	gap: 50px 0;
	justify-content: space-between;
}


.main__breadcrumbs p {
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
	color: #525252;
}

.main__breadcrumbs-section {
	padding-top: 15px;
	padding-bottom: 50px;
}

.main__breadcrumbs p > a, .main__breadcrumbs p > svg {
	margin-right: 10px;
}