/* footer */

footer {
  background-color: #2D2D2D;

  & * a:hover,
  & * a:hover+svg {
    color: #3670C7;
  }
}

.footer {
  &__logo {
    height: 42px;
    width: 190px;
    background: url("../img/__img-footer/logo.svg") no-repeat center center;
    grid-area: logo;
    background-size: contain;
    margin-right: 118px;
    margin-bottom: 40px;
  }

  &__site-tree {
    display: flex;
    flex-flow: row wrap;
    padding-top: 80px;
    padding-bottom: 25px;
  }

  &__copyrights {
    padding-top: 25px;
    padding-bottom: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .copyrights__text {
      color: var(--c-body-txt, #FFF);
      font-size: 16px;
      font-weight: 700;
      line-height: 20.8px;

      &:nth-child(1) {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
      }

      &:nth-child(2) {
        white-space: pre;
      }
    }
  }

  &__header {
    color: var(--c-body-txt, #FFF);
    font-size: 32px;
    font-weight: 700;
    line-height: 41.6px;
    margin-bottom: 40px;
  }

  &__catalogue {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 480px;
    margin-right: 98px;
    margin-bottom: 40px;
    row-gap: 15px;

    .footer__header {
      width: 100%;
      margin-bottom: 25px;
    }
  }

  &__faq {
    max-width: 253px;
    margin-right: 181px;
    margin-bottom: 40px;
  }

  &__contacts {
    max-width: 280px;
  }

  &__credentials {
    display: flex;
    flex-flow: row wrap;
  }

  &__faq-list {
    display: flex;
    flex-flow: row wrap;
    row-gap: 15px;
  }

  &__catalogue-list {
    display: flex;
    row-gap: 15px;
    flex-wrap: nowrap;
    flex-direction: column;
  }

}

.credentials {
  &__contacts-list {
    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;
  }

  &__link {
    color: var(--c-body-txt, #FFF);
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
    width: 100%;

    &:first-child {
      margin-bottom: 21px;
    }

    &:nth-child(2) {
      margin-bottom: 36px;
    }
  }
}

.catalogue-list__item,
.faq-list__item,
.contacts-list__item {
  color: var(--c-body-txt, #FFF);
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
}
