@use 'components/_var';
@use 'components/_normalize';
@use 'components/_global-style';
@use 'components/_container';
@use 'components/_header';
@use 'components/_menu';
@use 'components/_footer';

.blog {
	&__main-section {
		padding-top: 30px;
		padding-bottom: 50px;
		display: flex;
		flex-flow: row wrap;
		max-width: 1533px;
		margin: auto;
		gap: 50px 0;
		justify-content: space-between;
	}

	&__nav {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}

	&__nav-section {
		padding-top: 50px;
		padding-bottom: 120px;
	}

	&__article {
		display: flex;
		flex-flow: row wrap;
		column-gap: 30px;
		width: 645px;
		height: 195px;
	}

	/* pagination nav*/
	&__nav .container {
		justify-content: space-around;
		height: 37px;
	}

	&__pagination {
		display: flex;
		flex-flow: row nowrap;
		column-gap: 6px;

		a:last-of-type {
			margin-right: 24px;
		}

		a {
			display: inline-block;
			height: 37px;
			width: 37px;
			text-decoration: none;
		}
	}
}


.article {
	&__preview-text {
		padding-top: 13px;
		height: 182px;
		width: 420px;
		display: flex;
		flex-flow: column nowrap;
		row-gap: 13px;
		justify-content: space-between;
	}

	&__link {
		color: #2D2D2D;
		&:hover {
			color: #3670C7;
		}
	}


	&__title {
		max-width: 420px;
		font-weight: 700;
		font-size: 32px;
		line-height: 42px;
		max-height: 84px;
		overflow: hidden;
	}

	&__preview-text-wrapper {
		display: flex;
		flex-flow: column nowrap;
		row-gap: 13px;
	}

	&__creation-date {
		font-weight: 700;
		font-size: 16px;
		line-height: 21px;
		color: #8F8F8F;
		/* margin-bottom: 25.5px; */
	}

	&__counter {
		display: flex;
		height: 25px;
		flex-flow: row nowrap;
		height: 24px;
		align-items: center;

		span {
			vertical-align: center;
		}

		svg:nth-child(1) {
			margin-right: 4px;
			align-self: center;
		}

		svg:nth-child(3) {
			margin-right: 9px;
			align-self: center;
		}

		svg {
			color: transparent;
		}
	}
}

.counter {
	&__views-text {
		margin-right: 25px;
	}

	&__views-text,
	&__commetns-text {
		font-weight: 700;
		font-size: 16px;
		line-height: 21px;
		color: #8F8F8F;
	}
}

.pagination {
	&__item {
		width: 37px;
		height: 37px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 700;
		font-size: 16px;
		line-height: 21px;
		color: #2D2D2D;

		& svg {
			color: #8F8F8F;
		}

		& a:hover,
		& a:active,
		& a:hover svg,
		& a:active svg {
			color: #3670C7;
		}
	}

	&__page {
		border: 2px solid #2D2D2D;
		border-radius: 4px;
	}

	&__number:hover li {
		color: #3670C7;
		border: 2px solid #3670C7;
		border-radius: 4px;
	}
}

.main__breadcrumbs {
	& p {

		>a,
		>svg {
			margin-right: 10px;
		}

		>a:hover {
			color: #3670C7;
		}

		font-weight: 700;
		font-size: 16px;
		line-height: 21px;
		color: #525252;
	}

	&-section {
		padding-top: 15px;
		padding-bottom: 50px;
	}
}