@import './components/_var';
@import './components/_normalize';
@import './components/_global-style';
@import './components/_container';
@import './components/_header';
@import './components/_menu';
@import './components/_footer';

.product {
	&__main-section {
		max-width: var(--max-width-section);
		padding: var(--padding-section);
		padding-top: 30px;
		padding-bottom: 50px;
		display: flex;
		flex-flow: column wrap;

		@include breakpoint-medium {
			padding-top: 5px;
		}

		@include breakpoint-small {
			padding-top: 3px;
		}
	}

	&__suggestions-section {
		max-width: var(--max-width-section);
		padding: var(--padding-section);
		padding-top: 50px;
		padding-bottom: 150px;
		display: flex;
		flex-flow: row wrap;
		min-height: fit-content;
	}

	&__title {
		color: #2D2D2D;
		font-family: Lato, Open-Sans, sans-serif;
		font-size: 50px;
		font-weight: 700;
		line-height: 130%;
		margin-bottom: 25px;

		@include breakpoint-medium-large {
			font-size: 40px;
			width: 540px;
			margin-bottom: 20px;
		}

		@include breakpoint-medium {
			font-size: 28px;
			margin-bottom: 25px;
		}

		@include breakpoint-small {
			font-size: 18px;
			width: 280px;
			margin-bottom: 15px;
		}
	}

	&__card {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding-top: 43px;
		border-top: solid 1px rgb(232, 232, 232);
	}

	&__add-to-card {
		display: flex;
		position: relative;
		flex-flow: column wrap;
		color: #2D2D2D;
		width: 420px;
		height: 367px;
		min-height: 367px;
		padding: 40px;
		border-radius: 16px;
		background: #FFF;
		box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.25);

		@include breakpoint-medium-large {
			margin-bottom: 50px;
			width: min-content;
		}

		@include breakpoint-medium {
			margin-bottom: 40px;
		}

		@include breakpoint-small {
			margin-bottom: 30px;
			width: 100%;
			border-radius: 0;
			box-shadow: 0px -16px 14px -16px rgba(0, 0, 0, 0.25),
				0px 16px 14px -16px rgba(0, 0, 0, 0.25);
		}
	}
}

.main__breadcrumbs {
	& p {

		>a,
		>svg {
			margin-right: 10px;
		}

		>a:hover {
			color: #3670C7;
		}

		font-weight: 700;
		font-size: 16px;
		line-height: 21px;
		color: #525252;
	}

	&-section {
		padding-top: 64px;
		padding-bottom: 50px;

		@include breakpoint-medium-large {
			padding-top: 40px;
			padding-bottom: 30px;
		}

		@include breakpoint-medium {
			padding-top: 30px;
			padding-bottom: 25px;
		}

		@include breakpoint-small {
			padding-top: 16px;
			padding-bottom: 15px;
		}
	}
}

.product__img {

	& img {
		@include breakpoint-medium-large {
			width: 540px;
		}

		@include breakpoint-medium {
			width: 380px;
		}

		@include breakpoint-small {
			width: 280px;
		}
	}

	&-wrapper {
		position: relative;
		// background: #d3d3d3 50%/cover no-repeat;
		margin-bottom: 80px;
		width: 757px;
		height: max-content;

		@include breakpoint-medium-large {
			width: 540px;
			margin-bottom: 50px;
		}

		@include breakpoint-medium {
			width: 380px;
			margin-bottom: 40px;
		}

		@include breakpoint-small {
			width: 280px;
			margin-bottom: 20px;
		}
	}

	&-label {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-around;
		width: 88px;
		height: 88px;
		font-weight: 700;
		background-color: #ffbd13;
		border-radius: 50%;
		font-size: 30px;
		line-height: 39px;

		position: absolute;
		top: 20px;
		right: 50px;

		@include breakpoint-medium-large {
			width: 66px;
			height: 66px;
			font-size: 20px;
		}

		@include breakpoint-medium {
			width: 50px;
			height: 50px;
			font-size: 16px;
		}

		@include breakpoint-small {
			width: 32px;
			height: 32px;
			font-size: 12px;
		}
	}
}

.price {
	&__after-disc {
		width: max-content;
		color: #F00;
		font-size: 36px;
		font-weight: 700;
		line-height: 34px;

		@include breakpoint-small {
			font-size: 20px;
			line-height: 24px;
		}
	}

	&__before-disc {
		width: max-content;
		color: #2D2D2D;
		font-size: 22px;
		line-height: 22px;
		font-weight: 400;
		text-decoration: line-through;
		align-self: center;

		@include breakpoint-small {
			font-size: 12px;
		}
	}
}

.add-to-card {
	margin-bottom: 16px;

	@include breakpoint-small {
		margin-bottom: 13px;
	}

	&__price {
		display: flex;
		flex-flow: row nowrap;
		// height: 43px;
		gap: 0 24px;
		margin-bottom: 7px;

		@include breakpoint-small {
			column-gap: 18px;
		}
	}

	&__credit {
		color: #3670C7;
		font-size: 16px;
		font-weight: 700;
		line-height: 20.8px;
		margin-bottom: 30px;

		@include breakpoint-small {
			font-size: 12px;
			margin-bottom: 20px;
		}
	}

	&__btns {
		display: flex;
		flex-flow: row wrap;
		column-gap: 23px;
		width: 100%;
		height: min-content;
		margin-bottom: 30px;

		@include breakpoint-small {
			column-gap: 19px;
		}
	}

	&__action-btn {
		display: inline-flex;
		padding: 17px 42px;
		align-items: flex-start;
		gap: 10px;
		border-radius: 10px;
		background: #3670C7;
		color: #FFF;
		font-size: 16px;
		font-weight: 700;
		line-height: 20.8px;
		width: max-content;
		height: 45px;
		text-align: center;
		padding: 12px 26px 12px 26px;

		@include breakpoint-small {
			font-size: 12px;
			height: 32px;
			padding: 8px 18px 8px 18px
		}
	}

	&__like-btn {
		align-self: center;
		width: 33px;
		height: 33px;
		align-self: center;
		background-color: transparent;
		background-image: url(../img/__img-product/favorite_btn.svg);
		background-size: cover;
		background-clip: border-box;

		@include breakpoint-small {
			width: 20px;
			height: 18.35px;
		}
	}

	&__additional-info {
		display: flex;
		flex-flow: row nowrap;
		column-gap: 60px;
		margin-bottom: 30px;

		@include breakpoint-small {
			column-gap: 33px;
			font-size: 12px;
		}
	}

	&__subscribe {
		display: flex;
		flex-flow: row nowrap;
		width: 100%;
	}

	&__description {
		min-height: 273px;
		max-width: 1234px;
		overflow-y: hidden;
		// box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		color: rgb(45, 45, 45);
		letter-spacing: 0%;
		text-align: left;
		display: flex;
		flex-flow: column wrap;
		row-gap: 20px;
	}
}

.description {
	&__title {
		width: 100%;
		color: rgb(45, 45, 45);
		font-size: 32px;
		font-weight: 700;
		line-height: 130%;

		@include breakpoint-medium-large {
			font-size: 24px;
		}

		@include breakpoint-medium {
			font-size: 18px;
		}

		@include breakpoint-small {
			font-size: 16px;
		}
	}

	&__text {
		color: rgb(45, 45, 45);
		font-size: 22px;
		font-weight: 400;
		line-height: 150%;

		@include breakpoint-medium-large {
			font-size: 18px;
		}

		@include breakpoint-medium {
			font-size: 16px;
		}

		@include breakpoint-small {
			font-size: 12px;
		}
	}
}

.additional-info {

	&__delivery {
		display: flex;
		flex-flow: column nowrap;
		width: max-content;
	}

	&__seller {
		display: flex;
		flex-flow: column nowrap;
		width: max-content;
	}
}

.delivery {
	&__title {
		color: #8F8F8F;
		font-size: var(--fz-additional-info);
		font-weight: 400;
		line-height: 20.8px;
	}

	&__date-range {
		color: #2D2D2D;
		font-size: var(--fz-additional-info);
		font-weight: 400;
		line-height: 20.8px;
	}
}

.seller {
	&__title {
		color: #8F8F8F;
		font-size: var(--fz-additional-info);
		font-weight: 400;
		line-height: 20.8px;
	}

	&__name {
		color: #2D2D2D;
		font-size: var(--fz-additional-info);
		font-weight: 400;
		line-height: 20.8px;
	}
}

.subscribe__btn {
	// width: 222px;
	height: 24px;
	color: #3670C7;
	font-size: 16px;
	font-weight: 700;
	line-height: 20.8px;
	display: inline-flex;
	flex-flow: row nowrap;
	background-color: transparent;
	column-gap: 13px;
	justify-content: space-between;
	align-items: flex-end;

	& svg {
		@include breakpoint-medium-large {
			width: 16.5px;
			height: 18.33;
		}

		@include breakpoint-small {
			width: 10.5px;
			height: 11.67;
		}
	}

	@include breakpoint-medium-large {
		font-size: 14px;
	}

	@include breakpoint-small {
		font-size: 8px;
	}
}

.product__suggestions-section {
	@include breakpoint-medium-large {
		display: none;
	}
}

.suggestions {
	&-section__title {
		color: rgb(45, 45, 45);
		font-size: 50px;
		font-weight: 700;
		line-height: 130%;
		letter-spacing: 0%;
		text-align: left;
		margin-bottom: 30px;
		min-height: 65px;
	}

	&-section__carousel {
		color: rgb(45, 45, 45);
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
}

.carousel {
	&__minicard {
		width: 420px;
		position: relative;
		display: flex;
		flex-flow: column wrap;
	}
}

.minicard {
	&__img-label {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-around;
		width: 88px;
		height: 88px;
		font-weight: 700;
		background-color: #ffbd13;
		border-radius: 50%;
		font-size: 30px;
		line-height: 39px;
		position: absolute;
		top: 187px;
		left: 20px;
	}

	&__img {
		height: 295px;
		margin-bottom: 20px;
	}

	&__price-wrapper {
		display: flex;
		flex-flow: row wrap;
		column-gap: 28px;
		margin-bottom: 15px;
	}

	&__price {
		font-size: 28px;
		font-weight: 700;
		line-height: 34px;
		letter-spacing: 0%;
		text-align: left;

		&--before {
			font-size: 20px;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: 0%;
			text-align: left;
			text-decoration-line: line-through;
			align-self: center;
		}
	}
}