@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@700&display=swap');

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;

  /*Additions*/
  border: var(--c-body-border-outline);
  outline: var(--c-body-border-outline);
}


body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: var(--c-body-txt);
  background-color: var(--с-body-bg);
}

img {
  max-width: 100%;
  height: auto;
}


button {
  padding: 0;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

fieldset {
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  min-inline-size: 0;
  border-width: 0;
  border-style: none;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*
У секции добавляю вертикальные паддинги,
это половина от расстояния между блоками
*/

section {
  max-width: var(--max-width-section);
  padding: var(--padding-section); /* padding-top 45 - 36~spare place from grid = 9 padding-top in section */
  margin: 0 auto;
}

h1 {
  font-weight: 700;
}

button {
  font-weight: 700;
}

h2 {
  font-weight: 700;
}
